<div class="vertical" style="display: flex; justify-content: center;">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Compete</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/afif-ramdhasuma-CT7IWRM7G5k-unsplash.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink = "/compete">GO</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Real Time Prediction</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/charis-gegelman-oVj742JJHPo-unsplash.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
      </div>
      <div class="vertical" style="display: flex; justify-content: center;">
      <mat-card class="example-card" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Leadorboard</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/joshua-golde-qIu77BsFdds-unsplash.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Conect With Friends</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/fabio-oyXis2kALVg-unsplash.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>GO</button>
        </mat-card-actions>
      </mat-card>
      
</div>
<mat-divider></mat-divider>
<div>
    Ankit
</div>