<!-- #13161f -->
<!-- <mat-toolbar color="primary" style="background-color:orange;color: white;">
    <span routerLink="/home" routerLinkActive="active">Home</span>
    <span routerLink="/landing" routerLinkActive="active">Bitcoin!</span>
    <span>Buy</span>
    <span>Predict</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    <mat-menu style="background-color: grey;" #menu="matMenu">
        <label >Dashboard</label>
        <button mat-menu-item routerLink="/username">
          Ankit Kumar Thakur
        </button>
        <button mat-menu-item>
            Points
          </button>
          <button mat-menu-item>
            History
          </button>
      </mat-menu>
  </mat-toolbar> -->

  <div style="display: block; box-sizing :border-box;width : 100%;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;z-index: 6;position: fixed;">
    <div style = "display: flex; width: 100%; justify-content: flex-end;background-color: black;">
    <div (click) = "active('0')" routerLink="/home" class="elev" style="font-size : 20px;font-weight:500;padding-left:2%;padding-right:2%;padding-top: 10px;color: white; cursor: pointer;">
     HOME
    </div>
    <div (click) = "active('1')" routerLink="/landing" class="elev" routerLinkActive="active" style="font-size : 20px;font-weight:500;padding-left:2%;padding-right:2%;padding-top: 10px;color: white;cursor: pointer;">
      BITCOIN
    </div>
    <div (click) = "active('2')" class="elev" style="font-size : 20px;font-weight:500;padding-left:2%;padding-right:2%;padding-top: 10px;color: white;cursor: pointer;">
      BUY
    </div>
    <div (click) = "active('3')" class="elev" style="font-size : 20px;font-weight:500;padding-left:2%;padding-right:2%;padding-top: 10px; color: white;cursor: pointer;">
      PREDICT
    </div>
    <div (click) = "active('4')" class="elev" style="padding-left:2%;padding-right:2%;color: white; ">
    <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  <mat-menu style="background-color: grey;" #menu="matMenu">
      <label >Dashboard</label>
      <button mat-menu-item routerLink="/username">
        Ankit Kumar Thakur
      </button>
      <button mat-menu-item>
          Points
        </button>
        <button mat-menu-item>
          History
        </button>
        </mat-menu>
      </div>
    </div>

  </div>
<router-outlet></router-outlet>

