<div>
<h1 style="background-color:aliceblue;text-align: center;font-size: 20px;font-weight: bolder; color: black;">1 v 1 CONTEST</h1>
<div class = "vertical" style="display: flex; justify-content:center">
<div>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Compete</mat-card-title>
        </mat-card-header>
        <video autoplay loop muted height="100%" width="100%">
            <source src="assets/images/Purple and Blue Green Modern Gradient Health Products Health Logo.mp4" type="video/mp4" >
        </video>
        <mat-card-content>
          <p style="color: black; font-weight: bold; text-align: center; font-size: 30px;">
           Join With 50 bucks
          </p>
          <p style="color: red;" >Starting At 6:30pm!</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink = "/compete" style="background-color: yellow;">REGISTER NOW</button>
        </mat-card-actions>
      </mat-card>
</div>

<div>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Compete</mat-card-title>
        </mat-card-header>
        <video autoplay loop muted height="100%" width="100%">
            <source src="assets/images/Purple and Blue Green Modern Gradient Health Products Health Logo.mp4" type="video/mp4" >
        </video>
        <mat-card-content>
          <p style="color: black; font-weight: bold; text-align: center; font-size: 30px;">
           Join With 100 bucks
          </p>
          <p style="color: red;" >Starting At 6:30pm!</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink = "/compete" style="background-color: yellow;">REGISTER NOW</button>
        </mat-card-actions>
      </mat-card>
</div>
</div>

<h1 style="background-color:aliceblue;text-align: center;font-size: 20px;font-weight: bolder; color: black;">BIG CONTEST</h1>
<div class = "vertical" style="display: flex; justify-content: center;">
    <div>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Compete</mat-card-title>
            </mat-card-header>
            <video autoplay loop muted height="100%" width="100%">
                <source src="assets/images/Purple and Blue Green Modern Gradient Health Products Health Logo.mp4" type="video/mp4" >
            </video>
            <mat-card-content>
              <p style="color: black; font-weight: bold; text-align: center; font-size: 30px;">
               Join With 100 bucks
              </p>
              <p style="color: red;" >Starting At 6:30pm!</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button routerLink = "/compete" style="background-color: yellow;">REGISTER NOW</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Compete</mat-card-title>
            </mat-card-header>
            <video autoplay loop muted height="100%" width="100%">
                <source src="assets/images/Purple and Blue Green Modern Gradient Health Products Health Logo.mp4" type="video/mp4" >
            </video>
            <mat-card-content>
              <p style="color: black; font-weight: bold; text-align: center; font-size: 30px;">
               Join With 200 bucks
              </p>
              <p style="color: red;" >Starting At 6:30pm!</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button routerLink = "/compete" style="background-color: yellow;">REGISTER NOW</button>
            </mat-card-actions>
          </mat-card>
    </div>

</div>

</div>
