<div class="landing" >
  <!-- <img class="im" src="assets/images/bitcoin-2582593.jpg" alt="bitcoin image" /> -->
  <!-- height fix kardo maje aa jayenge -->
  <div class="overwrite" style="display: block; box-sizing : border-box;height : 520px;width: 100%;">
  <!-- <img class="im" src="assets/images/dmitry-demidko-OG3A-ilG8AY-unsplash.jpg" alt="bitcoin image" /> -->
  <!-- <img class="im" src="assets/images/kanchanara-Lta5b8mPytw-unsplash.jpg" alt="bitcoin image" /> -->
 
  <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;transform: translate(0,130%);" >
    
    <div>
    <h1 class="heading" style="color: white; vertical-align: middle; font-family: Georgia Serif; text-shadow:  -3px 3px 0 #0a0e27">PREDICT CRYPTO PRICES</h1>
    <div style="display: block;height: 10px;width:30%;background-color: aqua;justify-content:flex-start;"></div><br>
    <div style="display: flex;">
    <a class="bit-image-register" routerLink="/register">REGISTER</a>
    <a class="bit-image-login" routerLink="/login">LOGIN</a>
    </div>
  </div>
  </div>
  </div>

  <br>
  <!-- [routerLink]="['register']" it is use to append chid in parent -->
  <!-- <div class="bitcoin-img" style="height: 100%;">
    <div class="image-2">
      <img style="height: 100%;" src="assets/images/bitcoin-2582593.jpg" alt="bitcoin image" />
    </div>
    <div class="bitcoin-heading" style="display: flex;flex-direction: column;">
      <h1>BITCOIN</h1>
      <div style="display: block;height: 10px;max-width: 50px;background-color: aqua;margin--bottom: 20px;"></div>
      <p>The legality of bitcoin varies by region. Nine countries have fully banned bitcoin use; while a further fifteen
        have implicitly banned it. A few governments have used bitcoin in some capacity. El Salvador has adopted Bitcoin
        as legal tender; although use by merchants remains low.....</p>
      <a routerLink="/readmoreBitcoin">READ MORE</a>
    </div>
  </div> -->
  <div style="display: block; box-sizing: border-box; width: 90%;height: auto;margin-top: 50px;margin-left: 5%;position: relative;box-shadow: rgba(0 0 0 0.24) 0px 3px 8px;background-color: white;">
  <div class="about" style="display: flex; width: 100%;">
    <div style="display: block;  box-sizing: border-box; max-width: 50%; max-height: 50%;">
      <img src="assets/images/bitcoin-2582593.jpg" alt="bitcoin image" />
    </div>
  <div style="display: block;  box-sizing: border-box;min-width: 50%;" >
    <div style="display: flex; flex-direction : column;justify-content : center;align-items: center;padding: 10%;">
      
      <div style="display: block;  box-sizing: border-box; ">
      <h1 style="font-size:50px;font-weight:bolder;">ABOUT</h1>
      <div style="display: block;height: 10px;width:30%;background-color: aqua;"></div><br>
    </div>
      <!-- <div style="display: block;max-width: 50px;background-color: aqua;margin--bottom: 20px;"></div> -->
      <div style="display: block;  box-sizing: border-box; ">
        
      <p style=" font-size:16px;padding:5px;margin-top: 4px;font-weight: 500;">This is my bitcoin page if you want to know more <br>
        just<span style="color: red;"> sign in </span>and <span style="color: red;"> login</span> to our page and get details<br>
        Here you can predict prices in real time<br> save your time and play bitcoin specific games and <br>
        much more<br>
      <span style="color: red; ">click below!</span> </p>
      </div>
      <div style="display: block;  box-sizing: border-box; background-color: orange;justify-content: center; text-align: center; align-items: center;margin-top: 4px;width: 70px; height: 50px;">
      <a style="text-decoration : none;color:white;" routerLink="/readmoreBitcoin">READ MORE</a>
      </div>
    
    </div>
  </div>
  </div>


  </div>
  <!-- <div style="display: flex;margin-top: 10px;margin--bottom: 4%;">
    <div style="max-width:40%; text-align: center;margin--left: 5%; margin-top: 4%;box-shadow: rgba(149; 157; 165; 0.2) 0px 8px 24px ;background-color: #13161f;;position: relative;
    z-index: 7; padding-top: 15px;">
      <h2 style="color:orangered; font-weight:bolder; font-size:30px">GET STARTED WITH BITCOIN</h2>
      <p style="font-size:larger;line-height: 1.7em;text-align: left;color: white;">Bitcoin uses peer-to-peer technology to operate
        with no central authority or banks; managing transactions and
        the issuing of bitcoins is carried out collectively by the network.Bitcoin is open-source; its design is
          public; nobody owns or controls Bitcoin and everyone can take part.Many of its unique properties;
        Bitcoin allows exciting uses that could not be covered by any previous payment system.</p><br><br><br><br>
      <button
        style="background-color:red; color:white;padding:10px;font-weight:bolder;cursor:pointer;font-family:system-ui; -apple-system; BlinkMacSystemFont; 'Segoe UI'; Roboto; Oxygen; Ubuntu; Cantarell; 'Open Sans'; 'Helvetica Neue'; sans-serif">GET
        STARTED</button>
    </div>
    <div><img
        style="max-width: 40%; float: right;padding-right: 30%; justify-content: flex-start; filter: brightness(100%);"
        src="assets/images/bitcoin_PNG20.png"></div>

  </div>
  <div style="margin-top:px;">
    <div style="text-align:center; background-color: #13161f;">
      <h1 style="color:orangered; font-style: oblique; font-size: 40px; padding-top: 2%; font-weight: bold;">bitcoin
      </h1><br><br><br><br><br><br><br>
      <label style="color: white; font-size:20px; font-weight: 500;">Support Us : <button
          style="background-color:orange; cursor:pointer; padding: 10px; color: white; font-size: 20px; font-family: system-ui; -apple-system; BlinkMacSystemFont; 'Segoe UI'; Roboto; Oxygen; Ubuntu; Cantarell; 'Open Sans'; 'Helvetica Neue'; sans-serif;">Donate</button></label><br><br><br><br>

    </div>
  </div> -->

  <div style="display: block; box-sizing : border-box;width : 100%;margin-top : 50px">
    <div style="display: flex; width : 100%;justify-content: center;align-items: center;">
      <div style="display: flex; flex-direction : column;justify-content: center;align-items: center;">
        <div style="display: block; box-sizing : border-box">
          <mat-icon class="material-icons" style="font-size : 25px;color: orange;">timeline</mat-icon>
        </div><br>
        <div>
           <div style="font-size: 20px; font-weight : bolder;font-family: 'Dancing Script' cursive;">REAL   TIME   PREDICTION</div>
           
        </div><br><br>
        <div style="display: block; box-sizing : border-box">
          <mat-icon class="material-icons" style="font-size : 25px;color: orange;">bar_chart</mat-icon>
        </div><br>
        <div>
           <div style="font-size: 20px; font-weight : bolder;font-family: 'Dancing Script' cursive;">LEADORBOARD</div>
           
        </div><br><br>
        <div style="display: block; box-sizing : border-box">
          <mat-icon class="material-icons" style="font-size : 25px;color: orange;">how_to_reg</mat-icon>
        </div><br>
        <div>
           <div style="font-size: 20px; font-weight : bolder;font-family: 'Dancing Script' cursive;">CONNECT WITH FRIENDS</div>
           
        </div>
        
        <div>

        </div>
        <div>

        </div>

      </div>
    </div>
  </div>
  <div style="background-color : #051832">
    <div style="display : block;box-sizing : border-box;width : 100%;margin-Top : 60px">
       <div style="display : flex; box-sizing: 'border-box';width : 100%">
        <div style="display : block;box-sizing : border-box;min-width: 25%;">
        <div style="display : flex;flex-direction : column;padding : 40px">
          <div style="color : grey;font-size: 14px;font-family : sans-serif;margin-Bottom : 13px">About</div>
          <a href ="contact" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">Contact us</a>
          <a href ="about" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">About us</a>
          <a href ="press" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">Press</a>
          <a href ="careers" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">Careers</a>
        </div>
       </div>
       <div style="display : block;box-sizing : border-box;min-width: 25%;">
        <div style="display : flex;flex-direction : column;padding : 40px">
          <div style="color : grey;font-size: 14px;font-family : sans-serif;margin-Bottom : 13px">Help</div>
          <a href ="contact" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">Payment</a>
          <a href ="about" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">Shipping</a>
          <a href ="press" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">Cancellation</a>
          <a href ="careers" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">FAQ</a>
        </div>
       </div>
       <div style="display : block;box-sizing : border-box;min-width: 25%;">
        <div style="display : flex;flex-direction : column;padding : 40px">
          <div style="color : grey;font-size: 14px;font-family : sans-serif;margin-Bottom : 13px">Policy</div>
          <a href ="contact" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">Return Policy</a>
          <a href ="about" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">Terms of use</a>
          <a href ="press" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">Security</a>
          <a href ="careers" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">Privacy</a>
        </div>
       </div>
       <div style="display : block;box-sizing : border-box;min-width: 25%;">
        <div style="display : flex;flex-direction : column;padding : 40px">
          <div style="color : grey;font-size: 14px;font-family : sans-serif;margin-Bottom : 13px">Social</div>
          <a href ="about" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">Facebook</a>
          <a href ="press" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">Twitter</a>
          <a href ="careers" style = "color : white;font-size: 12px;font-family : sans-serif;margin-Bottom : 10px">You Tube</a>
        </div>
       </div>
    </div>
    </div>
    <div style="background-color : #051832;border-top:1px solid grey">
     <div style="display : flex">
      <div style="font-size: 14px;font-family : sans-serif;padding : 20px;padding-left: 30px;color : orange">Advertise</div>
      <div style="font-size: 14px;font-family : sans-serif;padding : 20px;padding-left: 30px; color : orange">Help Center</div>
     </div>
    </div>
    </div>
 
</div>

<router-outlet></router-outlet>